body{
    background: #313137;
    color: #c4c4c4;
}
.red{
    background-color: rgba(183, 18, 18, 0.681);
}

.itemsGrid{
    display: flex;
    /* flex-direction: row; */
    /* border: #f0f2eb solid 10px; */
    width: fit-content;
}

.itemSize{
    width: 100px;
    height: 100px;


}

button{
    background-color: transparent;
    color: #c4c4c4; 
}

/* ---------------------------------------------- */
/* ⛾ */
.green{
background-color: #5aa25f;
width: fit-content;
color: #090909;
border: none;
}
.blue{
background-color: #182878;
width: fit-content;
color: #959595;
border: none;
}
.purple{
background-color: #885aa2;
width: fit-content;
color: #090909;
border: none;
}
.border{
    border: #090909 1px solid;
}